<header>
  <mat-toolbar color="accent">
    <h1>Event Manager</h1>
    <span class="example-spacer"></span>

    {{ currentDateTime | async }}

    <span class="example-spacer"></span>
    <mat-form-field>
      <label for="language">{{ 'header.language.select' | translate }}</label>
      <mat-select id="language" size="1" (selectionChange)="changeLocalization()">
        <mat-option *ngFor="let entry of languages" [value]="entry">{{ entry }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="signin()">
      <mat-icon>perm_identity</mat-icon>
    </button>

  </mat-toolbar>

</header>
