$border-color: #5f5e5e;
$base-unit: 1em;

button {
  background-color: lighten($border-color, 45%);
  border-radius: .5em;
  padding: .5em;
  margin-right: .5em;

  &.active { // Pure CSS : button.active
    background-color: $border-color;
    color: #fff;
    font-weight: bold;
  }
}

/**
* Pure CSS : ul li
**/
ul {
  list-style-type: none;

  li {
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
    height: $base-unit * 2;
  }
}
